<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


</head>

<body>
    <p style="text-align: center;">
        Trivia App</h1><br>
        <i class='fab fa-app-store'></i>


    </p>
    <a href=" http://localhost:3000/user ">
        <i class="fas fa-angle-double-right" style="padding-left: 1240px;font-size: 100px; color: white;"></i></a>



</body>
<style>
    body {
        background-color: #F08080
    }
    
    h1 {
        color: white;
    }
    
    p {
        color: white;
        font-size: 100px;
    }
    
    a {
        padding-bottom: 1px
    }
    
    ;
</style>

</html>