<!DOCTYPE html>
<html lang="en">

<head>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <meta http-equiv="X-UA-Compatible " content="IE=edge ">
    <meta name="viewport " content="width=device-width, initial-scale=1.0 ">
    <title>Express</title>

</head>


<body>
    <h1>Ready to start
    </h1>
    <a href="http://localhost:3000/ques "><i class='fas fa-angle-double-right ' style="margin-left: 1240px; font-size: 120px; color: white; margin-top: 300px; "></i>
</body>
<style>
    body {
        background-color: #F08080;
    }
    
    h1 {
        color: white;
        text-align: center;
    }
</style>


</html>